[package]
name = "utils"
version = "0.1.0"
edition = "2024"

[dependencies]
chrono = "0.4.42"
chrono-tz = "0.10.4"
lazy_static = "1.5.0"
poise = "0.6.1"
dotenv = "0.15.0"
regex = "1.12.2"
once_cell = "1.21.3"
